@import "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #324e73, #1e3040);
}

.bg-nav {
  background-color: $color_principal;
}

#destacados {
  color: white;
}

.col {
    background: $color_principal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

    &:hover {
        cursor: pointer;
        color: #000000;
        background: #324e73;
    }
}

.footer {
    grid-column: 1/6;
    background-color: $color_principal;
    padding: 20px;
    p {
        color: black;
    }
}

#form {
  color: white;
}

.preguntas {
  padding: 50px;
  margin: 100px;
  h4 {
    color: white;
  }
  p {
    color: white;
  }
}

.card-body a:hover {
  background-color: black;
}

.card-text {
  color: #000000;
  font-family: $fuente_parrafos;
}

#infProduc {
  color: white; 
  p {
    font-family: $fuente_parrafos
  }
}

#titleProd {
  color: white;
}