* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #324E73, #1E3040 );
}

.bg-nav {
  background-color: #C9D7F2 ;
}

#destacados {
  color: white;
}

.col {
  background: #F2ECE4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.col:hover {
  cursor: pointer;
  color: #000000;
  background: #324E73;
}

.footer p {
  color: black;
  grid-column: 1/6;
  background-color: #F2ECE4;
  padding: 20px;
}