@import "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #324e73, #1e3040);
}

.bg-nav {
  background-color: $colorPrincipal;
}

#destacados {
  color: white;
}

.col {
    background: $colorPrincipal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

    &:hover {
        cursor: pointer;
        color: #000000;
        background: #324e73;
    }
}

.footer {
    grid-column: 1/6;
    background-color: $colorPrincipal;
    padding: 20px;

    p {
        color: black;
    }
}

#form {
  color: white;
}

.preguntas {
  color: white;
  padding: 50px;
  margin: 100px;
}

.card-body a:hover {
  background-color: black;
}

#infProduc {
  color: white;
}

#titleProd {
  color: white;
}